body{
    font-family: 'Josefin Sans', sans-serif;
    margin: 0;
}
.color{
    color: blueviolet;
}
h2{
    font-size: 50px;
}
.container{
    display: flex;
    margin-bottom: 70px;
}
.half-width{
    width: 50%;
    padding-left: 7%;
    padding-right: 6%;
}
.half-width img{
    width: 95%;
}
.link-button{
        color: white;
        font-weight: 700;
        background-image: linear-gradient(rgb(185, 124, 241),rgb(118, 43, 187));
        padding: 10px 40px;
        border-radius: 5px;
        text-decoration: none;
}
.font{
    font-size: 20px;
}
.top-banner{
    background-image: url(images/shapes/Frame\ 56.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}
#center{
    text-align: center;
}
h3{
    width: 100%;
    padding-left: 30px;
    padding-right: 30px;
}